html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    background: white;
    font-size: 80%;
    font-family: "trebuchet ms", verdana, sans-serif;
    line-height: 1.4em;
}

#content-main form fieldset {
    padding: 1em;
}

#container {
    width: 875px;
    margin: 0;
    overflow: hidden;
}

#branding {
    background: url(http://www.frisbee.dk/graphics/discimport/Discimport/Webdesign/discimport%202006/DI_topgrafik.jpg) no-repeat;
    margin: 0;
    height: 125px;
}

#branding h1 {
    display: none;
}

#navigation-main {
    width: 25%;
    float: left;
    padding-bottom: 1000em;
    margin-bottom: -999.5em;
    background: #eee;
    color: #3b3b3b;
}

#navigation-main ul {
     margin: 0;
     padding: 0;
}

#navigation-main li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}

#navigation-main a {
    margin: 0;
    padding: 0.5em 1em;
    color: #3b3b3b;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid white;
    text-decoration: none;
}

#navigation-main a:hover {
    background: #ddd;
    color: #3b3b3b;
}

#navigation-main fieldset {
    border: none;
    margin: 1em 0;
    padding: 1em 0.5em;
}

#content {
    overflow: hidden;
    background: white;
    color: inherit;
}

#content-main {
    float: right;
    width: 69%;
    padding-bottom: 1000em;
    margin-bottom: -999.5em;
    background: inherit;
    color: inherit;
}

#content-main * {
    padding: 0 1em;
}

#content-main * * {
    padding: 0 0;
}

#content-main h1 {
    margin-top: 2em;
    font-size: 1.3em;
}

#content-main h2 {
    font-size: 1.1em;
}

#content-main h3 {
    font-size: 1em;
}

#content-main h4 {
    font-size: 1em;
    margin-bottom: 0;
}


#products {
    width: 97%;
}

.product-feature {
    border: 1px solid #ddd;
    margin: 0 1em 1em 0;
    padding: 1em;
    width: 150px;
    float: left;
    height: 150px;
    text-align: center;
}
.product-feature img {
    margin: 0.5em 0 0.5em 0;

}
.vare img {
    float: right;
    margin: 1.2em;

}

.vare h2 {
    font-size: 1.4em;
}

#content-main a {
    text-decoration: none;
    color: black;
    background: white;
}

#content-main a:hover {
    text-decoration: underline;
    color: black;
    background: #f4f4f4;

}

a img {
    border: none;
}

table {
    border-collapse: collapse;
}

table#kurv {
    width: 95%;
}

caption {
    background: #00008c;
    color: white;
    padding: 0.2em;
    font-weight: bold;
}

#content-main table tr th {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
}

#content-main table  tr td {
    padding: 0.5em;
}

tfoot td.total {
    color: inherit;
    background: #eee;
}
tfoot td.help {
    font-size: smaller;
    color: #bbb;
    background: inherit;
}
tbody td {
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

#content-main a.buy {
    background: #b5df6b;
    padding: 0.2em;
    color: black;
}

#content-main  a.buy:hover {
    background: #8ccf21;
    color: black;
}

p {
    float: none;
}